automation/n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "54ed1970-b97c-4904-b66b-7119b4c22e04",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appKZrzYTrdSpHmTr",
          "mode": "list",
          "cachedResultName": "Gym Subscriptions",
          "cachedResultUrl": "https://airtable.com/appKZrzYTrdSpHmTr"
        },
        "table": {
          "__rl": true,
          "value": "tblw3rmdQSDtVXjR7",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appKZrzYTrdSpHmTr/tblw3rmdQSDtVXjR7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        176,
        0
      ],
      "id": "e93ca198-e2e7-4a4f-a7fc-d7a06738730f",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "GaTQbtyDxKtjVI7i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nreturn items.map(item => {\n  const expiry = new Date(item.json[\"Expiry Date\"]);\n  expiry.setHours(0, 0, 0, 0);\n\n  const diffTime = expiry - today;\n  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n\n  let notificationType = \"ignore\";\n\n  if (diffDays === 7) {\n    notificationType = \"7_days\";\n  } else if (diffDays === 1) {\n    notificationType = \"1_day\";\n  } else if (diffDays < 0) {\n    notificationType = \"expired\";\n  }\n\n  return {\n    json: {\n      ...item.json,\n      days_remaining: diffDays,\n      notificationType\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "e364c16c-6d67-460e-bcff-e7c9a543d0ca",
      "name": "Check Subscription Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99430a5a-b9c5-45a5-b22d-5fa7b78f5304",
              "leftValue": "={{$json.notificationType}}",
              "rightValue": "7_days",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        0
      ],
      "id": "b09cd6a3-6aa6-4d17-950e-a3db42481977",
      "name": "IF – 7 Days Reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99430a5a-b9c5-45a5-b22d-5fa7b78f5304",
              "leftValue": "={{$json.notificationType}}",
              "rightValue": "1_day",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        16
      ],
      "id": "504ca7cd-598b-4816-9895-2f18a6c8830a",
      "name": "IF – 24 Hours Reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99430a5a-b9c5-45a5-b22d-5fa7b78f5304",
              "leftValue": "={{$json.notificationType}}",
              "rightValue": "expired",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        32
      ],
      "id": "8241b523-9c48-4856-ad07-831db7df0dd4",
      "name": "IF – Expired Reminder"
    },
    {
      "parameters": {
        "sendTo": "={{$json.Email}}",
        "subject": "Your subscription expires in 7 days",
        "emailType": "text",
        "message": "=Hi {{$json.Name}},  This is a friendly reminder that your subscription will expire in 7 days.  Expiry date: {{$json[\"Expiry Date\"]}}  Thank you.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -176
      ],
      "id": "d987726a-cf6a-425c-aeac-6521562b1baf",
      "name": "Send a message",
      "webhookId": "f462de06-6dc4-47aa-af6b-c07bb38de269",
      "credentials": {
        "gmailOAuth2": {
          "id": "uJi4TsntxbkVcPQJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.Email}}",
        "subject": "Your gym membership expires tomorrow",
        "emailType": "text",
        "message": "=Hi {{$json[\"Name\"]}},\n\nYour gym membership expires in less than 24 hours.\n\nExpiry date: {{$json[\"Expiry Date\"]}}\n\nPlease renew today to keep your access active.\n\n– Gym Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        -176
      ],
      "id": "ee6b4626-c657-4cf1-b33d-e012e51e8308",
      "name": "Send a message1",
      "webhookId": "f462de06-6dc4-47aa-af6b-c07bb38de269",
      "credentials": {
        "gmailOAuth2": {
          "id": "uJi4TsntxbkVcPQJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.Email}}",
        "subject": "Your gym membership has expired",
        "emailType": "text",
        "message": "=Hi {{$json[\"Name\"]}},\n\nYour gym membership expired on {{$json[\"Expiry Date\"]}}.\n\nYou can renew anytime to regain access.\n\nIf you need help, reply to this email.\n\n– Gym Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        -176
      ],
      "id": "a58472c6-46e5-4757-965a-8c54dd0e26b6",
      "name": "Send a message2",
      "webhookId": "f462de06-6dc4-47aa-af6b-c07bb38de269",
      "credentials": {
        "gmailOAuth2": {
          "id": "uJi4TsntxbkVcPQJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Check Subscription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Subscription Status": {
      "main": [
        [
          {
            "node": "IF – 7 Days Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF – 7 Days Reminder": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF – 24 Hours Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF – 24 Hours Reminder": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF – Expired Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF – Expired Reminder": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "036c9ea5-24a8-47bd-abb6-36c2a35f0aa8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "357f0a4239219df0585bd54d36cb0dfa4906130285a76bbb30f2af2df4288505"
  },
  "id": "YZbkzc4Rp1ks74q_k3Ux_",
  "tags": []
}